*{
    box-sizing:border-box;
}

.center{
    margin-left:auto;
    margin-right:auto;
    text-align:center
}

.hidden{
    display:none;
}

#map{
    height:100%;
    overflow:scroll;
    display:inline-block;
    border:3px solid grey;
}

html, body, main{
    height:100%;
    width:100%;
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.headerSection{
    height:100%;
    color:#EDE9E0; 

    background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, .7),
      rgba(0, 0, 0, .3)
    ),

    url('header.jpg');
    background-size: cover;
    background-position: 15% 0%;
    background-attachment: scroll;
    padding: 20px 0;
    box-shadow: 0 0 10px black;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 36px;
    
}

.description{
    font-family: 'Lora', serif;
    font-size: 20px;
}

.input{
    border: none;
    border-bottom: 3px solid ghostwhite;
    border-radius: 0px;
    padding: 8px 0;
    color: #EDE9E0;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
    background: none;
    width: 100%;
  }

.input:focus {
    outline: none;
}

.button {
    font-family: 'Lora', serif;
    border: 3px solid ghostwhite;
    padding: 8px 13px;
    margin-top: 15px; 
    color: ghostwhite;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    background: rgba(255, 255, 255, 0.25);
    transition: color 0.25s linear;
    text-shadow: 0 0 3px #555555;
    position: relative;
    left: -3px;
    border-radius: 0;
}

.placesList{
    border:3px solid grey;
    border-radius: 3px;
    height: 100%;
    display:inline-block; 
    padding: 5px;
    overflow:auto;
}

.key{
    height:150px;
    border-bottom: 2px solid black;
    background:rgb(138, 127, 106); 
}

.keyItem{
    width: 33.3%;
    display:inline-block;
    float:left;
    max-height: 150px; 
}

.icon{
    width:100%;
    max-height: 100%;
}

.keyMeaning{
    color:rgb(255, 255, 255);
}

.listItem{
    border:2px solid black;
    border-radius: 3px;
    background-color: rgb(245, 213, 127);
    width:100%; 
}

.listItem h3{
    font-family: 'Pacifico', cursive;
}

.listItem p{
    font-family: 'Lora', serif;
}
 
.transition{
    height: 100px;
    min-width: 100%;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.footer{
    height: 50px;
    bottom:0;
}