*{
    box-sizing:border-box
}

.center{
    margin-left:auto;
    margin-right:auto;
    text-align:center
}

.hidden{
    display:none;
}

#map{
    height:100%;
    overflow:scroll;
    width:100%;
}

html, body, main{
    height:100%;
    width:100%;
    margin: 0;
    padding: 0; 
}
